.main-chat
  .main-chat__group-info
    .group-top
      .group-top__group-name
        = @group.name
      .group-top__members
        = render 'member'
    = link_to edit_group_path(@group), class: "edit-btn" do
      Edit
  .main-chat__message-list
    = render @messages

  .main-chat__message-form
    .main-chat__message-form__input-form
      = form_for [@group, @message] do |f|
        = f.text_field :body, placeholder: "type a message", class: "main-chat__message-form__input-form__text"
        .main-chat__message-form__input-form__mask
          = f.label :image, class: "main-chat__message-form__input-form__mask-image" do
            = icon('fas', 'image', class: "main-chat__message-form__input-form__mask-image__icon")
            = f.file_field :image, class: "main-chat__message-form__input-form__mask-image__file"
        = f.submit "Send", class: "main-chat__message-form__input-form__send-btn"