.side-bar__user-name
  .top-items
    .top-items__name
      = current_user.name
    .top-items__icons
      = link_to "#", class: "top-items__icons__btn-edit" do
        = icon('far', 'edit')
      = link_to edit_user_path(current_user), class: "top-items__icons__btn-cog" do
        = icon('fa', 'cog')
.side-bar__group-list
  .group-info
    .group-info__name
      techexpert
    .group-info__message
      まだメッセージはありません
  .group-info
    .group-info__name
      techcamp
    .group-info__message
      まだメッセージはありません
  .group-info
    .group-info__name
      techmaster
    .group-info__message
      まだメッセージはありません